hotkey-overlay {
  skip-at-startup
}

prefer-no-csd

include "binds.kdl"
include "cursor.kdl"
include "env.kdl"
include "layerrules.kdl"
include "outputs.kdl"
include "windowrules.kdl"

// Include dms files
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/colors.kdl"
include "dms/cursor.kdl"
include "dms/layout.kdl"
include "dms/outputs.kdl"
include "dms/windowrules.kdl"
