window-rule {
    match app-id="^Alacritty$"

    background-effect {
        blur true
    }
}

window-rule {
    match app-id="^org.qutebrowser.qutebrowser$"
    opacity 0.9

    background-effect {
        blur true
    }
}
